.navbar {
    height: 70px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    z-index: 1040;

    i {
        font-size: 1.2rem;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
            transform: scale(1.15) rotate(-5deg);
        }
    }

    .navbar-message {
        font-size: 1.5rem;
    }

    .navbar-logo img {
        transition: transform 0.3s ease;
        height: 70px;
        object-fit: contain;
        cursor: pointer;

        &:hover {
            transform: scale(1.15) rotate(-5deg);
        }
    }

}

/* fixe la largeur du logo à 240px à partir du breakpoint md */
@media (min-width: 768px) {
    .navbar-logo {
        width: 240px;
    }
}