<div class="container">
  <app-navbar></app-navbar>

  <div class="d-flex flex-column flex-md-row">
    <!-- Sidebar visible à partir de md -->
    <!-- <aside> -->
    <app-sidebar class="sidebar d-none d-md-block"></app-sidebar>
    <!-- </aside> -->

    <!-- Contenu principal -->
    <main class="main-content flex-grow-1">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- Footer (à intégrer plus tard) -->
</div>

<!-- Sidebar mobile en offcanvas -->
<app-mobile-sidebar></app-mobile-sidebar>