.layout {
    min-height: 100vh;
    background-color: var(--light); // Couleur de fond identique à la sidebar

    .content-wrapper {
        display: flex;
        flex-grow: 1;

        .sidebar {
            flex: 0 0 auto;
            top: var(--navbar-height);
            left: 0;
            width: var(--sidebar-width);
            position: fixed;
            overflow-y: auto;
            overflow-x: hidden;
            max-height: calc(70vh - var(--navbar-height));
        }

        .main-content {
            flex: 1 1 auto;
            margin-top: var(--navbar-height);
            background-color: var(--page-bg-color); // Couleur de fond claire
            padding: 2rem 1.5rem;

            /* Positionne le contenu de la page à partir du breakpoint md */
            @media screen and (min-width: 768px) {
                margin-left: var(--sidebar-width);
                border-left: 1px solid rgba(0, 0, 0, 0.1);
                min-height: calc(70vh - var(--navbar-height));
            }
        }
    }

    .content-footer {
        box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15); // ombre vers le haut
        border-top: 1px solid rgba(0, 0, 0, 0.05);

        @media screen and (min-width: 768px) {
            max-height: calc(30vh - var(--navbar-height));
        }
    }
}