<div class="page-construction d-flex flex-column justify-content-center align-items-center text-center">
    <!-- Illustration en construction -->
    <img src="assets/images/img-construction.jpg" alt="Page en construction" class="img-fluid mb-4 rounded" />
    <h1 class="display-5 fw-bold text-warning">🌾 Page en construction</h1>
    <p class="fs-5 text-muted">Cette section n’est pas encore disponible.</p>
    <p class="fst-italic">Sous les baobabs du futur, cette page rêve encore de ses premiers visiteurs.</p>
    <a routerLink="/" class="btn btn-outline-secondary mt-4">
        Retour à l’accueil
    </a>
</div>