<!-- mentions-legales.component.html -->
<section class="mentions-legales">
    <h1>Mentions légales</h1>

    <p><strong>Éditeur du site :</strong> Babacar Tour</p>
    <p><strong>Responsable de la publication :</strong> Babacar Tour</p>
    <p><strong>Hébergement :</strong> Ce site est hébergé par [Nom de l’hébergeur]</p>
    <p><strong>Propriété intellectuelle :</strong> Tous les contenus présents sur ce site sont la propriété de Babacar
        Tour, sauf mention contraire.</p>
    <p><strong>Contact :</strong> Pour toute question, vous pouvez nous contacter via la page <a
            routerLink="/contact">Contact</a>.</p>
</section>